header{
	display: none;
}
@media (max-width: 768px){
	header{
		display: block;
	}
	.main-sidebar{
		margin-top: 10px;
	}
}
a {
	color: #1A0D07;
}
.sidebar-menu > li > a {
	padding: 3px 15px;
	display: block;
	font-size: 8pt;
	letter-spacing: 2px;
	font-family: 'Merriweather', serif;
}
.content-header > h1{
	font-family: 'Merriweather', serif;	
}
.sidebar-menu > li > a:hover, .sidebar-menu > li > a:active, .sidebar-menu > li > a:focus {
	color: #CFA49F;
}
.sidebar-menu > li > a.active{
	color: #CFA49F;
}
.sidebar-menu{
	margin-top: 15px;
}
.main-header .sidebar-toggle:before {
	color: #1A0D07;
}
.main-header .navbar {
	border-bottom: 1px solid #ddd;
}
.layout-boxed {
	background-color: #1A0D07;
}
.navbar{
	background: #EFEEED;
}
.main-sidebar {
	background: #EFEEED;
	/*min-height: calc(100% - 51px);*/
	border-right: 30px solid #1A0D07;
}
/*.main-footer {
	margin-left: 0;
}*/
.content-wrapper {
	background-color: #fff;
	padding-top: 40px;
}
.main-sidebar{
	background-image: url("http://www.daylightday.co.kr/list/data/admin/2019/01/18/883416945c418cdf73d74.png");
	background-position: right 15px bottom;
	background-repeat: no-repeat;
}
.content-header{
	margin-bottom: 20px;
}
@media (max-height: 600px ){
	.main-sidebar{
		background-image: none;
	}		
}
@media (max-width: 767px){
	.sidebar-menu > li > a {
		font-size: 9pt;
	}
	.main-sidebar {
		padding-top: 50px;
	}
	.content-wrapper {
		padding-top: 0;
	}
	.user-panel{
		display: none;
	}
	.main-sidebar {
		border-right: 5px solid #000;
	}
	.content-header{
		margin-bottom: 0;
	}
}
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #1A0D07; 
	border-radius: 5px;
}
.form-control {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #ffffff;
  height: 40px;
  padding-right: 10px;
  border-color: #e1e1e1;
  color: #777777;
  position: relative;
  -webkit-appearance: none;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}

.input-group .input-group-addon {
	background-color: #f1f1f1;
	border-color: #e1e1e1;
	padding: 6px 15px;
	font-size: 14px;
	font-weight: normal;
	line-height: 1;
	color: #555;
	text-align: center;
	background-color: #eee;
	border-right: none;
	border-radius: 4px 0 0 4px;
}
.panel > .panel-heading {
	color: #fff;
	background: #1A0D07;
	border: none;
	border-bottom: 1px solid #ddd;
}
.panel-heading {
	/*border-bottom: 1px dashed #c8c8c8;*/
 }
 .panel {
	border: 1px solid #1A0D07;
	/*box-shadow: none;*/
	border-radius: 3px;
 }
 .panel-body{
	padding: 10px 5px 5px;
 }
.form-control:focus{
	border: 1px solid #e1e1e1;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}
.content, h4, input, select, option{
	/*font-family: 'Nanum Myeongjo', serif;-*/
	/*font-family: 'Noto Sans KR', sans-serif;*/
	/*font-family: 'Nanum Gothic', sans-serif;*/
	font-weight: normal;
	font-size: 11pt;
}
.form-group{
	padding: 0 10px;
}
.billiard {
	line-height: 25px;
	list-style-type: none;
	margin-left: -20px;
	list-style: none;
	margin-bottom: 0;
}
.billiard li::before {
	content: "※ ";
	margin-right: -6px;
	position: relative;
	left: -10px;
	margin-left: -10px;
}
.input-group .form-control {
	z-index: 1;
}